/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-ec6ea-z1b8aovu   {
	background-position: 51.7937202453613% 11.3861389160156%;
}
 
 #vbid-ec6ea-ygh6azfb.master.item-box    {
	padding-top: 70px;
	padding-bottom: 70px;
	min-height: 202px;
} 
 #vbid-ec6ea-ygh6azfb.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-ec6ea-q2nnf4ab.master.item-box    {
	padding-top: 0px;
	min-height: 503px;
} 
 #vbid-ec6ea-q2nnf4ab.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-ec6ea-j6yknzfy   {
	background-position: 51.8808784484863% 24.1324920654297%;
}
 
 #vbid-ec6ea-nvv5ehhq.master.item-box    {
	padding-top: 70px;
	padding-bottom: 60px;
	min-height: 202px;
} 
 #vbid-ec6ea-nvv5ehhq.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-ec6ea-c0r0ebmg.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 94px;
} 
 #vbid-ec6ea-c0r0ebmg.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-ec6ea-awib9aao   {
	background-position: 44.2089881896973% 48.3110046386719%;
}
 
 #vbid-ec6ea-5zfuhnck   {
	background-size: 92%;
}
 
 #vbid-ec6ea-6agy0cg2   {
	background-position: 36.0986557006836% 48.3706703186035%;
}
 
 #vbid-ec6ea-wvdzcqff.master.item-box    {
} 
 #vbid-ec6ea-wvdzcqff.master.item-box    {
	min-height: 365px;
}
 
 #vbid-ec6ea-sbqh22al.master.item-box    {
	min-height: 603px;
}
 
 #vbid-ec6ea-pqsayxx2.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 427px;
}
 
 #vbid-ec6ea-rijmqsri   {
	background-position: 48.6415901184082% 18.5064926147461%;
}
 
 #vbid-ec6ea-jm1vvxj3.master.item-box    {
	min-height: 231px;
}
 
 #vbid-ec6ea-hinso8zg.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-ec6ea-hinso8zg.item-box > .item-wrapper    {
	max-width: 1144px;
}
 
 #vbid-ec6ea-fnh1uxvc.master.item-box    {
	min-height: 231px;
}

 
 #vbid-ec6ea-dpalpd08   {
	background-position: 47.9101371765137% 31.5561962127686%;
}
 
 #vbid-ec6ea-zsqy7xlx.master.item-box    {
	padding-top: 30px;
	padding-bottom: 30px;
	min-height: 1343px;
}
 
 #vbid-ec6ea-gat11t6g   {
	background-position: 46.8609848022461% 26.2973518371582%;
}
 
 #vbid-ec6ea-vjf3atmb   {
	background-position: 43.6865196228027% 53.7792205810547%;
}
 
 #vbid-ec6ea-tsgz4hje   {
	background-position: 56.0606079101563% 100%;
}
 
 #vbid-ec6ea-bsbwqi9l   {
	background-position: 46.9696960449219% 89.3939361572266%;
}
 
 #vbid-ec6ea-5ll7trcq.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 802px;
}
 
 #vbid-ec6ea-aipqsxif   {
	background-position: 54.0358734130859% 100%;
}
 
 #vbid-ec6ea-bs3pwgww.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1343px;
} 
 #vbid-ec6ea-bs3pwgww.item-box > .item-wrapper    {
	max-width: 1416px;
}
 
 #vbid-ec6ea-apciayuf.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 392px;
}
 
 #vbid-ec6ea-mywlm1ly.master.item-box    {
	padding-top: 70px;
	padding-bottom: 70px;
} 
 #vbid-ec6ea-mywlm1ly.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-ec6ea-ezyiyjf0   {
	background-position: 45.6293716430664% 22.344690322876%;
}
 
 #vbid-ec6ea-8cs5uqvg   {
	background-size: contain;
}
 
 #vbid-ec6ea-cssyrjvq.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 682px;
}
 
 #vbid-ec6ea-vw8xfoud   {
	background-position: 41.9580421447754% 0%;
}
 
 #vbid-ec6ea-epjpzfez.master.item-box    {
	min-height: 699px;
}
 
 #vbid-ec6ea-kc0uynir.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-ec6ea-kc0uynir.item-box > .item-wrapper    {
	max-width: 1270px;
}
 
 #vbid-ec6ea-hn6xplg3   {
	background-position: 23.3408069610596% 0%;
}
 
 #vbid-ec6ea-evjgva6r   {
	background-position: 48.4326019287109% 71.0374603271484%;
}
 
 #vbid-ec6ea-x0zdujr2.master.item-box    {
	min-height: 773px;
}
 
 #vbid-ec6ea-xdve9xxa   {
	background-position: 50% 31.2688827514648%;
}
 
 #vbid-ec6ea-jsnad13m   {
	background-position: 12.0986547470093% 42.2062797546387%;
}
 
 #vbid-ec6ea-jrz18ogb.master.item-box    {
	padding-top: 70px;
	padding-bottom: 70px;
} 
 #vbid-ec6ea-jrz18ogb.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-ec6ea-khnpmwmd.master.item-box    {
	padding-top: 60px;
	padding-bottom: 80px;
	min-height: 1343px;
} 
 #vbid-ec6ea-khnpmwmd.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-ec6ea-fphoym4z.master.item-box    {
	min-height: 386px;
}
 
 #vbid-ec6ea-6t9sjem4   {
	background-position: 51.3452911376953% 16.8316841125488%;
}
 
 #vbid-ec6ea-5yb0a7a3.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 310px;
}
 
 #vbid-ec6ea-daczn1jw.master.item-box    {
	padding-top: 15px;
}
 
 #vbid-ec6ea-roj1y8e7   {
	background-position: 50.5673980712891% 54.6576156616211%;
}
 
 #vbid-ec6ea-6d3cz9ek.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 688px;
}
 
 #vbid-ec6ea-gjlpgoab   {
	background-position: 54.0752334594727% 91.5584411621094%;
}
 
 #vbid-ec6ea-apbynsio.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 257px;
}
 
 #vbid-ec6ea-4bcury42.master.item-box    {
	padding-top: 40px;
	padding-bottom: 40px;
} 
 #vbid-ec6ea-4bcury42.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-ec6ea-t2zdjnbf.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-ec6ea-t2zdjnbf.item-box > .item-wrapper    {
	max-width: 1144px;
}
 
 #vbid-ec6ea-d111sdov.master.item-box    {
	padding-bottom: 0px;
	min-height: 883px;
} 
 #vbid-ec6ea-d111sdov.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-ec6ea-e0aqmdug.master.item-box    {
	padding-top: 0px;
	padding-bottom: 35px;
	min-height: 1343px;
} 
 #vbid-ec6ea-e0aqmdug.item-box > .item-wrapper    {
	max-width: 1168px;
}
 
 #vbid-ec6ea-gu39xprf.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 81px;
}
 
 #vbid-ec6ea-jvcpbdvx   {
	background-size: contain;
}
 
 #vbid-ec6ea-rhmwuwjj.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 496px;
}
 
 #vbid-ec6ea-nmf5zlo8.master.item-box    {
	padding-top: 70px;
	padding-bottom: 70px;
} 
 #vbid-ec6ea-nmf5zlo8.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-ec6ea-hac2ydpb   {
	background-position: 49.8955078125% 0.613496959209442%;
}
 
 #vbid-ec6ea-twjp33az.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1343px;
}
 
 #vbid-ec6ea-rwwb10xu   {
	background-size: contain;
}
 
 #vbid-ec6ea-iismtata   {
	background-position: 51.9258079528809% 44.8459205627441%;
}
 
 #vbid-ec6ea-ya4hbbj5   {
	background-position: 48.2062797546387% 23.9910316467285%;
}
 
 #vbid-ec6ea-rqetv1vs.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 296px;
}
 
 #vbid-ec6ea-apir05qr   {
	background-position: 48.6415901184082% 26.6233768463135%;
}
 
 #vbid-ec6ea-5zzm9lyv.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-ec6ea-5zzm9lyv.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-ec6ea-xmb4bdy7   {
	background-position: 53.9237670898438% 51.5926666259766%;
}