body {
    background-image: url("../images/girl.jpg");
    position: absolute;
    top: 0px;
    left: 0px;
    color:transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    
}